.columns>div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
  box-shadow: 3xp 3px 10px 5px rgba(0, 0, 0, 0.5);
}

.columns>div>div {
  order: 1;
}

.columns>div>.columns-img-col {
  order: 0;
}

.columns>div>.columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns>div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns>div>div {
    flex: 1;
    order: unset;
  }
}