.nav-brand {
    position: absolute;
    width: 960px;
    padding-bottom: 0px;
    padding-top: 230px;
    /* height: 300px; */
    vertical-align: top;
    margin: 0;
    background-image: url(../../images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
}

.nav-brand ul {
    background-color: black;
    text-align: center;
    font-family: "Jura", sans-serif, "google";
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}


.nav-brand ul>li {
    font-weight: 300;
    font-size: 18px;
    color: #434745;
    padding: 15px 20px;
    margin: 0;
    list-style: none;
}

.nav-brand ul>li:hover,
.nav-brand ul>li:active {
    color: white;
}