footer {
  /* padding: 0 2rem; */
  background-color: var(--zibo-main-background-color);

}

footer ul {
  width: var(--zibo-desktop-width);
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  font-size: var(--body-font-size-s);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}



footer li {
  list-style: none;
  width: 25%;
  font-size: 0.8rem;
  margin: auto;
  text-align: left;
}

@media (max-width:420px) {
  footer ul {
    display: block;
    padding: 0;
    margin: 0;
    width: var(--zibo-mobile-width);
  }

  footer li {
    width: 100%;
    margin: 0;
    padding: 5px 0;
  }
}

footer li a {
  text-decoration: none;
}

footer p {
  text-align: center;
  padding-top: 2rem;
}

footer p>a {
  text-decoration: none;
}

/* footer .footer {
  max-width: 1200px;
  margin: auto;
} */