* {
    box-sizing: border-box;
    margin: 0;
    color: #787878;
}

body {
    background-image: url("../images/zingge.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #787878;
    font-family: "Jura", sans-serif, "google";
    width: 960px;
    margin: 0 auto;
}

header {
    height: 300px;
}

main {
    /* width: 960px; */
    /* height: 100vh; */
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px;
}


/*container für den inhalt unter der Navigation*/
#main-content {
    width: 960px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 50px 50px 50px 50px;
}

p {
    padding-bottom: 30px;
}

h1 {
    font-family: "Jura", sans-serif, "google";
    font-size: 34px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    text-transform: none;
    color: #787878;
    margin-bottom: 1rem;
}