:root {
    /* colors */
    --zibo-main-background-color: rgba(0, 0, 0, 0.9);
    --zibo-font-grey: #787878;
    /* widths */
    --zibo-desktop-width: 60rem;
    --zibo-mobile-width: 30rem;
}


* {
    box-sizing: border-box;
    margin: 0;
    color: #787878;
}

body {
    background-image: url("../images/zingge.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: var(--zibo-font-grey);
    font-family: "Jura", sans-serif, "google";
    width: var(--zibo-desktop-width);
    margin: 0 auto;
}



header {
    height: 250px;
}



main {
    background-color: var(--zibo-main-background-color);
    padding: 3.1rem;
}


/*container für den inhalt unter der Navigation*/
#main-content {
    width: 100%;
    height: 100vh;
    background-color: var(--zibo-main-background-color);
    padding: 3rem;
}

p {
    padding-bottom: 2rem;
}

h1 {
    font-family: "Jura", sans-serif, "google";
    font-size: 2.1rem;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    text-transform: none;
    color: #787878;
    margin-bottom: 1rem;
}

/* changes for mobile.  */
@media (max-width:420px) {
    body {
        /* width: var(--zibo-mobile-width); */
        width: 100vw;
    }

    header {
        height: 20vh;
    }

    main {
        padding: 0.5rem;
    }
}